<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SkyBoard</title>
    </head>
    <body>
        <h1>Welcome to SkyBoard</h1>
        <p>We're still setting up here...</p>
    </body>
</html>